*{
    margin: 0;
    padding: 0;
}
.sky{
    height: 100vh;
    width: 100% ;
    background-image:url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;

}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
}
.track{
    height: 60vh;
    width: 100%;
    background-image: url(track.png);
    background-size: cover;
    position: absolute;
    top: 70vh
}

.car{
    height: 100px;
    width: 280px;
    background-image: url(car_body.png);
}